<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<header>
			<nav class="navbar">
				<a href="/catalog">Catalog</a>
				<a href="/genre">Genres</a>
				<a href="/publisher">Publishers</a>
			</nav>
		</header>
		<h2><%= title %></h2>
		<% if (update) { %>
		<form method="post" class="videogame-create">
			<label for="name">*Name</label>
			<input type="text" name="name" value="<%= genre.name %>" />
			<label for="description">*Description</label>
			<textarea name="description" cols="25" rows="3"><%= genre.description %></textarea>
			<button type="submit">Update</button>
		</form>
		<% } else {%>
		<form method="post" class="videogame-create">
			<label for="name">*Name</label>
			<input type="text" name="name" />
			<label for="description">*Description</label>
			<textarea name="description" cols="25" rows="3"></textarea>
			<button type="submit">Create</button>
		</form>
		<% } %>
	</body>
</html>
