<!DOCTYPE html>
<html>
	<head>
		<title>Genres</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1>Genres</h1>
		<a href="/catalog/genre">Genres</a>
		<a href="/catalog/publisher">Publishers</a>
		<% for (let i = 0; i < genres.length; i++) { %>
		<h2><a href="<%= genres[i].url %>"><%= genres[i].name %></a></h2>
		<% } %>
	</body>
</html>
