<!DOCTYPE html>
<html>
	<head>
		<title>Create publisher</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<header>
			<nav class="navbar">
				<a href="/catalog">Catalog</a>
				<a href="/genre">Genres</a>
				<a href="/publisher">Publishers</a>
			</nav>
		</header>
		<h2>Create a publisher</h2>
		<a href="/publisher/create">Create publisher</a>
		<form action="/publisher/create" method="post" class="videogame-create">
			<label for="name">*Name</label>
			<input type="text" name="name" />
			<label for="foundation_date">*Date of foundation</label>
			<input type="date" name="foundation_date" />
			<button type="submit">Submit</button>
		</form>
	</body>
</html>
