<!DOCTYPE html>
<html>
	<head>
		<title><% title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<header>
			<nav class="navbar">
				<a href="/catalog">Catalog</a>
				<a href="/genre">Genres</a>
				<a href="/publisher">Publishers</a>
			</nav>
		</header>
		<h2><% title %></h2>
		<a href="/publisher/create">Create publisher</a>
		<% if (update) { %>
		<form method="post" class="videogame-create">
			<label for="name">*Name</label>
			<input type="text" name="name" value="<%= publisher.name %>" />
			<label for="foundation_date">*Date of foundation</label>
			<input type="date" name="foundation_date" value="<%= publisher.foundation_date_for_form %>" />
			<button type="submit">Update</button>
		</form>
		<% } else {%>
		<form method="post" class="videogame-create">
			<label for="name">*Name</label>
			<input type="text" name="name" />
			<label for="foundation_date">*Date of foundation</label>
			<input type="date" name="foundation_date" />
			<button type="submit">Create</button>
		</form>
		<% } %>
	</body>
</html>
