<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Videogame Delete</title>
	</head>
	<body>
		<header>
			<nav class="navbar">
				<a href="/catalog">Catalog</a>
				<a href="/genre">Genres</a>
				<a href="/publisher">Publishers</a>
			</nav>
		</header>
		<h2>Are you sure you want to delete '<%= videogame.title %>'?</h2>
		<form action="" method="post">
			<button type="submit">Delete</button>
			<a href="/publisher">Return</a>
		</form>
	</body>
</html>
