*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	padding: 50px;
	font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
	color: #00b7ff;
}

header {
	display: flex;
	justify-content: center;
}

.navbar {
	display: flex;
	gap: 1.5rem;
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.gamepage-title {
	font-size: 4rem;
}

.gamepage-price {
	font-size: 2rem;
}

.gamepage__top-container {
	display: flex;
	align-items: center;
	max-width: 30%;
	gap: 2rem;
	font-size: 1.5rem;
	margin: 1rem 0;
}

.videogame-create {
	display: flex;
	flex-direction: column;
	max-width: 500px;
	margin-top: 1rem;
}

label {
	font-size: 1.5rem;
}

input,
textarea,
select {
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	font-size: 1.125rem;
}
